<server description="Open Liberty server for StackUnderflow">
    <featureManager>
        <feature>webProfile-8.0</feature>
    </featureManager>

    <variable name="default.http.port" defaultValue="8080"/>
    <variable name="default.https.port" defaultValue="8443"/>

    <!--<webApplication location="/config/dropins/stackunderflow.war" contextRoot="/stackunderflow"/>  VERSION POUR DOCKER -->
    <webApplication location="stackunderflow.war" contextRoot="/stackunderflow"/>

    <httpEndpoint host="*" httpPort="${default.http.port}" httpsPort="${default.https.port}" id="defaultHttpEndpoint"/>

    <library id="MySqlLib">
        <fileset dir="${server.config.dir}" includes="*.jar" />
    </library>

    <dataSource jndiName="jdbc/StackUnderFlowDS">
        <jdbcDriver libraryRef="MySqlLib"/>
        <properties
<!--
            databaseName="AMT_STACKUNDERFLOW"
            serverName="localhost"
            portnumber="3306"
            user="root"
            password="rootpswd"
-->
            databaseName="amt_stackunderflow"
            serverName="${DB_SERVER_HOSTNAME}"
            portnumber="${DB_PORT_NUMBER}"
            user="${DB_USER}"
            password="${DB_USER_PASSWORD}"
            serverTimezone = "UTC"
        />
    </dataSource>
</server>
