<server description="Open Liberty server for StackUnderflow">
    <featureManager>
        <feature>webProfile-8.0</feature>
    </featureManager>

    <variable name="default.http.port" defaultValue="8080"/>
    <variable name="default.https.port" defaultValue="8443"/>

    <webApplication location="stackunderflow.war" contextRoot="/stackunderflow"/>

    <httpEndpoint host="*" httpPort="${default.http.port}" httpsPort="${default.https.port}" id="defaultHttpEndpoint"/>

    <library id="MySqlLib">
        <fileset dir="${server.config.dir}" includes="*.jar" />
    </library>



     <dataSource jndiName="jdbc/StackUnderFlowDS">
        <jdbcDriver libraryRef="MySqlLib"/>
        <properties
            databaseName="amt_stackunderflow"
            serverName="db_stackunderflow"
            portnumber="3306"
            user="root"
            password="root"
            serverTimezone = "UTC"
        />
    </dataSource> 

</server>